body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
header {
  background-color: rgb(81, 110, 101);
  position: fixed;
  width: 100%;
  padding: 10px;
  height: var(--main-size);
  justify-content: space-between;
  display: flex;
}
